<h3 class="text-center text-light title">Ahorcado</h3>
<div class="d-flex justify-content-center align-items-center my-5">
    
    <div class="container border border-dark rounded bg-dark">
        <div class="row">
            <div class="col" id="puntos">
                <p class="text-start text-light"> 
                    @if(this.contadorErrores!=6){
                        Te quedan 
                        {{6-this.contadorErrores}} 
                        Intentos
                    }@else{
                        PERDISTE TODAS TUS VIDAS
                    }
                </p>
            </div>
            
            <div class="col justify-content-center" id="btnReiniciar">
                    <button class="btn btn-primary btn-sm"
                    (click)="reiniciarAhorcado()">REINICIAR<br> 
                    <fa-icon [icon]="reinicio"></fa-icon></button>      
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="./../../../../assets/juegos/ahorcado/ahorcado{{errores}}.png" alt="ahorcado" id="imagen">
            </div>
        </div>
        @if(this.terminacionPartida){
            <div class="card bg-light" id="terminoPartida">
                <div class="card-header">
                    <p class="text-center">{{this.terminacionMensaje}}</p>
                </div>
                <div class="card-body">
                    <p class="text-center">La palabra era {{this.palabraSelec}}</p>
                </div>
                <div class="card-footer text-muted justify-content-center d-flex">
                    <button class="btn btn-primary btn-lg" (click)="this.comienzoJuego()">Jugar Otra Vez</button>
                </div>
            </div>  
        }

        <div class="container" style="background-color: grey; width: auto;border-radius: 10px;">
            <div class="text-center">
                @for (item of palabraSelec; track $index) {
                    <span class="mx-1 text-center span-ahorcado"
                    id="caracter{{$index}}">___</span>
                }
            </div>
        </div>
            
        <div class="row">
            @for (letra of alfabeto; track $index) {
                <div class="col d-flex justify-content-center align-items-center">
                    <button type="text" class="btn btn-primary btn-xl my-1 mx-1" 
                                id="letra{{letra}}" 
                                (click)="letraAhorcado(letra)">{{letra}}</button>
                </div>
            }
        </div>
    </div>


</div>