#img-juegos{
    border-radius: 5px;
    width: 100px;
    border-radius: 10px;
}
#chatBtn{
    display: flex;
    position: fixed;
    left: 5rem;
    bottom: 5rem;
    border-radius: 35px;
    height: 70px;
    width: 70px;
}