<!-- this.authFire.enSesion -->

<div class="d-flex justify-content-center align-items-center my-5">

    @if(this.authFire.enSesion){
        <!-- Ingreso en la APP -->
        <div class="container border border-dark rounded bg-dark" style="height: 700px;">
            <div class="row">
                <div class="col">
                    <h3 class="text-center text-light">
                        Bienvenido
                        {{this.authFire.emailUsuario}}
                    </h3>
                </div>
            </div>
    
            <div class="btn-group" role="group" aria-label="Basic example">
    
                <button routerLink="/juegos/ahorcado" type="button" class="btn btn-secondary mx-5">
                    <img src="../../../assets/ahorcado.png" alt="error" class="img-thumbnail" id="img-juegos">
                    <br>Ahorcado
                </button>
    
                <button routerLink="/juegos/mayor-menor" type="button" class="btn btn-secondary mx-5">
                    <img src="../../../assets/mayor-menor.svg" alt="error" class="img-thumbnail" id="img-juegos"
                > <br>Mayor o Menor</button>
    
                <button routerLink="/juegos/preguntados" type="button" class="btn btn-secondary mx-5">
                    <img src="../../../assets/preguntados.png" alt="error" class="img-thumbnail" id="img-juegos">
                    <br>Preguntados
                </button>

                <button routerLink="/juegos/blackjack" type="button" class="btn btn-secondary mx-5">
                    <img src="../../../assets/blackjack.png" alt="error" class="img-thumbnail" id="img-juegos">
                    <br>Blackjack
                </button>
            </div>    
        </div>

        <!-- hace output para ocultar mostrar chat -->
        <!-- <app-chat></app-chat> -->

        @if(this.chat){
            <app-chat (mostrarChat)="esconderChat($event)"></app-chat>
        }@else {
            <button class="btn btn-light" id="chatBtn" (click)="mostrarChat()">
                <img src="./../../../assets/chat.png" style="position: absolute;" height="55px" width="45px" alt="chat png">
            </button>
        }

    }@else{
        <!-- 
        No esta logeado
        aca uno para registro y login 
        -->
        <div class="container border border-dark rounded bg-dark" style="height: 700px;">
            <div class="row">
                <div class="col">
                    <p class="text-end text-light">
                        Es necesario iniciar sesion para poder jugar a los juegos
                    </p>
                </div>
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <button routerLink="/registro" type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-secondary btn-sm mx-1 my-1"
                    > <fa-icon [icon]="faPencil"></fa-icon>Registrarse</button>  
                    <button routerLink="/login" type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-secondary btn-sm mx-1 my-1"
                    > <fa-icon [icon]="faPencil"></fa-icon>Login</button>  
                    </div>   
                </div>
            </div>
    
            <div class="btn-group" role="group" aria-label="Basic example" style="filter: blur(5px);">
                
                <div class="row">
                    <div class="col">
                        <button type="button" disabled  class="btn btn-secondary mx-5">
                            <img src="../../../assets/ahorcado.png" alt="error" class="img-thumbnail" id="img-juegos">
                            <br>Ahorcado
                        </button>

                    </div>
                    <div class="col">
                        <button type="button" disabled class="btn btn-secondary mx-5">
                            <img src="../../../assets/mayor-menor.svg" alt="error" class="img-thumbnail" id="img-juegos"
                        > <br>Memotest</button>
                    </div>

                    <div class="col">
                        <button type="button" disabled class="btn btn-secondary mx-5">
                            <img src="../../../assets/blackjack.png" alt="error" class="img-thumbnail" id="img-juegos">
                            <br>Blackjack
                        </button>
                    </div>
                </div>
    
    
                
                <div class="row d-flex">
                    <div class="col">
                        <button type="button" disabled class="btn btn-secondary mx-5">
                            <img src="../../../assets/preguntados.png" alt="error" class="img-thumbnail" id="img-juegos">
                            <br>Preguntados
                        </button>
                    </div>
                </div>
            </div>  
            
            
        </div>
        
    }
</div>