<div class="container">
    <div class="row mt-4">
        <div class="col">
            <div class="card" style="width: auto;">       
                <img src="./../../../assets/descarga.jpg" class="rounded float-left img-fluid img-thumbnail" alt="error">
            </div>
        </div>
        <div class="col">
            <h2>Quien soy</h2>
            <p>
                Soy Leandro tengo 24 años, empeze a 
                interesarme a programar a finales del 2021, a finales de ese mismo año por videos en youtube 
                aprendi lo mas basico de Python, en ese lapso me costo mucho empezar a programar como tal
                y no simplemente ver tutoriales, por lo mismo al poco tiempo decidi ingresar en la tecnicatura de programacion de UTN
                para empezar teniendo una guia de mas o menos como tenia que abordar los temas para programar ya por mi cuenta.
            </p>
        </div>
    </div>
    <div class="row mt-2">
        <h2>Explicacion mi Juego</h2>
        <div class="col">
            <p>
               Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam nisi alias distinctio amet. Laboriosam incidunt nulla eius aliquam ea odio voluptatibus odit maiores sapiente reiciendis voluptate nihil, delectus quae! Animi?
               Nulla similique molestias accusamus necessitatibus quae officiis, dignissimos ratione id. Laboriosam non accusantium assumenda. Iste odio laudantium commodi consectetur cum eius ullam nobis iure dolore sit labore consequatur, illo similique.
            </p>
        </div>
    </div>
</div>
