<div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <div style="border: 2px solid black;height: 100%; display: flex;justify-content: center;">
            <form>
              <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-center">
                <p class="lead fw-normal mb-0 me-3">Registrar una Cuenta</p>
              </div>

              <div data-mdb-input-init class="form-outline mb-4">
                <div class="col mx-2">
                    <fa-icon [icon]="faCarta"></fa-icon>
                    <label class="form-label mx-1" for="form3Example3">Email</label>
                </div>
                <input name="email" [(ngModel)]="email" type="email" id="form3Example3" class="form-control form-control-lg"
                  placeholder="Ingrese un Email Valido" />
              </div>
    
              <div data-mdb-input-init class="form-outline mb-3">
                <div class="col mx-2">
                    <fa-icon [icon]="faLock"></fa-icon>
                    <label class="form-label mx-2" for="form3Example4">Contraseña</label>
                </div>
                <input name="clave" [(ngModel)]="clave" type="password" id="form3Example4" class="form-control form-control-lg"
                  placeholder="Ingrese Contraseña" />
              </div>             
              </form>
            </div>
      </div>
      <div class="row justify-content-center align-items-center">
        <div class="col">
          <div class="d-flex justify-content-center align-items-center mx-5">
            <button (click)="registrar()" type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg mx-4"
                style="padding-left: 2.5rem; padding-right: 2.5rem;"> <fa-icon [icon]="faPencil"></fa-icon>Registrarse</button>  
          </div>
        </div>
      </div>
    </div>
  </div>

