<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="col">
            <h2>Sala De Juegos</h2>  
        </div>
        <div class="row justify-content-end">         
            <div class="col-auto align-self-center">
                <button type="button" class="btn btn-secondary" routerLink="quien-soy">Quien Soy</button>
            </div>
            <div class="col-auto align-self-center">
                <button type="button" class="btn btn-secondary" routerLink="home">Home</button>
            </div>         
            @if(!this.authFire.enSesion){
                <div class="col-auto align-self-center">
                    <div class="login">
                        <button type="button" class="btn btn-secondary" routerLink="registro">Registrarse</button>
                    </div>
                </div>
                <div class="col-auto align-self-center">
                    <div class="login">
                        <button type="button" class="btn btn-secondary" routerLink="login">Login</button>
                    </div>
                </div>
            }@else {
                <!-- <div class="col-auto mx-2 align-self-center">
                    {{this.authFire.emailUsuario}}
                </div> -->
                <div class="col-auto align-self-center">
                    <div class="login">
                        <button type="button" class="btn btn-secondary" (click)="this.authFire.desloguear()">Sign-Out</button>
                    </div>
                </div>
            }
        </div>
    </div>
</nav>
<hr>