<img src={{imgActualCarta}} alt="actual" id="cartaActual">
<img src={{imgNuevaCarta}} alt="imgNuevaCarta" id="cartaNueva">
<h3 class="text-center text-light title">MAYOR O MENOR</h3>
<div class="d-flex justify-content-center align-items-center my-5">
    
    <div class="container border border-dark rounded bg-dark">
        <div class="row" id="puntos">
            <span class="text-light">PUNTOS {{puntos}}</span>
        </div>

        <div class="row">
            <div class="col">
                <img src="./../../../../assets/juegos/mayor-menor/mayor-menor.png" alt="mayor-menor" id="imagen">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="justify-content-end d-flex">
                    <button class="btn btn-success btn-lg" (click)="mayorMenorCarta('mayor')">MAYOR</button>
                </div>
            </div>
            <div class="col">
                <div class="justify-content-start">
                    <button class="btn btn-danger btn-lg" (click)="mayorMenorCarta('menor')">MENOR</button>
                </div>
            </div>
        </div>   
    </div>

</div>
